
@import "tailwindcss";

@theme {
  --color-text: #081609;
  --color-background: #f1faf2;
  --color-primary: #4cc555;
  --color-secondary: #8adc90;
  --color-accent: #70d878;
}

*{
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
